:root {
  --black: #000;
  --blue: #1820ef;
  --orange: #ff4e42;
  --yellow: #ffc024;
  --grey: #fafaed;
  --button: #c5c5c5;
  --dot: #e0dbbf;
  --white: #fff;
  --translucent: rgba(80, 80, 80, 0.5);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-dot {
  background-color: var(--dot);
}

.bg-button {
  background-color: var(--button);
}

.color-blue {
  color: var(--blue);
}

.color-orange {
  color: var(--orange);
}

.color-yellow {
  color: var(--yellow);
}

.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}
